.training {
  &__footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__exercises {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-top: 20px;
  }

  &__empty {
    text-align: center;
    margin-top: 30px;
    color: rgb(var(--secondary-text));
  }

  &__add {
    position: fixed;
    right: 18px;
    bottom: 110px;
  }
}
