.training {
  &__footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__exercises {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-top: 20px;
  }
}
