.calendar-day {
  padding: 5px;
  background-color: rgb(var(--bg-contrast));
  border-radius: var(--radius-main);
  height: 51px;
  box-shadow: var(--base-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &:active {
    background-color: rgb(var(--bg-contrast) / 80%);
  }

  &--active {
    color: rgb(var(--white));
    background-color: rgb(var(--accent));
    box-shadow: 0px 10px 25px 0px rgb(var(--accent) / 20%);
  }

  &__point {
    width: 4px;
    height: 4px;
    background-color: rgb(var(--accent));
    border-radius: 50%;
    position: absolute;
    bottom: 4px;
  }

  &--active &__point {
    background-color: rgb(var(--white));
  }

  &--has-training &__badge {
    display: flex;
  }
}
