.day-info-popup {
  padding: 15px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__actions {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__empty {
    color: rgb(var(--secondary-text));
    text-align: center;
    margin-bottom: 20px;
  }
}
