@keyframes load {
  0%,
  80%,
  100% {
    opacity: 0.2;
  }

  40% {
    opacity: 1;
  }
}

.point-loader,
.point-loader::before,
.point-loader::after {
  border-radius: 50%;
  width: 6px;
  height: 6px;
  animation: load 1.8s infinite ease-in-out;
  animation-fill-mode: both;
  background-color: rgb(var(--loader-color));
}

.point-loader {
  position: relative;
  animation-delay: -0.25s;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
  }

  &::before {
    left: -10px;
    animation-delay: -0.5s;
  }

  &::after {
    left: 10px;
  }
}
