.v-link {
  color: var(--color-base-lilac);
  text-decoration: none;
  font-weight: 500;

  &:disabled {
    opacity: .5;
    pointer-events: none;
  }

  &:active {
    opacity: .8;
    -webkit-tap-highlight-color: transparent;
  }
}
