.control {
  position: relative;
  margin-bottom: 8px; // reserved for errors, fuck me Vova, esli meshaet

  &__text,
  &__error {
    position: absolute;
    font-size: 12px;
    bottom: 0;
    transform: translateY(100%);
    margin-bottom: -4px;
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
  }

  &--center &__text,
  &--center &__error {
    text-align: center;
    justify-content: center;
  }

  &__error {
    color: var(--color-error);
  }
}
