.exercise {
  background-color: rgb(var(--bg-contrast));
  padding: 15px;
  border-radius: 10px;
  box-shadow: var(--base-shadow);

  &__name {
    font-weight: 500;
    font-size: 16px;
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
    caret-color: rgb(var(--accent));

    &:focus {
      outline: none;
      border: none;
    }
  }

  &__actions {
    margin-top: 20px;
  }

  &__approach {
    &:not(:last-child) {
      padding-bottom: 15px;
    }

    &:not(:first-child) {
      border-top: 1px solid rgb(var(--black) / 10%);
    }
  }
}
