.counter {
  --theme: var(--buttons-and-links-bg);
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  &__value {
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: var(--radius-main);
    border: 1px solid rgb(var(--black) / 10%);
    padding: 0;

    &:focus,
    &:focus-visible {
      outline: none;
      border-color: rgb(var(--accent));
    }
  }

  &__increment,
  &__decrement {
    width: 30px;
    height: 30px;
    border-radius: var(--radius-main);
    background-color: rgb(var(--accent));
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(var(--white));

    @include outline;

    &:active {
      opacity: .85;
    }
  }
}
