.counter {
  --theme: var(--buttons-and-links-bg);
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  &__value {
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: var(--radius-main);
    border: 1px solid rgb(var(--black) / 10%);
    padding: 0;

    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    &[type=number] {
      -moz-appearance: textfield;
    }

    &:focus,
    &:focus-visible {
      outline: none;
      border-color: rgb(var(--accent));
    }
  }

  &__increment,
  &__decrement {
    width: 35px;
    height: 35px;
    border-radius: var(--radius-main);
    border: 1px solid rgb(var(--accent));
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(var(--accent));

    @include outline;

    &:active {
      opacity: .85;
    }
  }
}
