.progress {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 12.5px;

  &__number {
    color: var(--color-base-lilac);
    @include font(24px, 120%, 600);
  }

  &__segment {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: rotate(calc(45deg + calc(calc(360deg / var(--segment-count)) * var(--i))));

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: var(--color-primary-white);
      opacity: .6;
      width: 3px;
      height: 14px;
      border-radius: 4px;
      transform: rotate(-45deg);
      transform-origin: top;
      animation: barCreationAnimation 0.2s ease forwards;
      animation-delay: calc(var(--i) * 15ms);
    }

    &--active::after {
      opacity: 1;
      background: var(--color-base-lilac);
    }
  }

  &--small {
    width: 35px;
    height: 35px;
    margin: 6.5px;

    .progress__segment::after {
      width: 2px;
      height: 8px;
    }

    .progress__number {
      @include font(12px, 150%, 500)
    }
  }
}

@keyframes barCreationAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
