.base-layout {
  position: relative;
  min-height: 100vh;
  min-height: 100lvh;
  display: flex;
  flex-direction: column;

  &__header,
  &__footer {
    position: sticky;
    left: 0;
    right: 0;
  }

  &__header {
    top: 0;
    z-index: 1;
  }

  &--static-header &__header {
    position: static;
  }

  &__footer {
    margin-top: auto;
    bottom: 0;
  }

  &__content {
    height: 100%;
    padding-bottom: 16px;
  }

  &--no-scroll &__content {
    overflow: unset;
    height: auto;
  }
}
