.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 18.5px;
  margin: 9px;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      background: var(--color-primary-white);
    }

    &:focus + .slider {
      box-shadow: 0 0 4px var(--purple);
    }

    &:checked + .slider:before {
      transform: translateX(17px);
    }
  }
}

.slider {
  border-radius: 100px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  --slider-background: rgba(226, 228, 233, 0.40);

  background-color: var(--slider-background);
  transition: 0.4s cubic-bezier(0, 1, 0.5, 1);

  &:before {
    position: absolute;
    border-radius: 50%;
    content: '';
    height: 13.5px;
    width: 13.5px;
    left: 2.5px;
    bottom: 2.5px;
    background-color: var(--base-bg);
    transition: 0.4s cubic-bezier(0, 1, 0.5, 1);
  }
}
