.input {
  display: flex;
  flex-direction: column;
  background-color: var(--buttons-and-links-bg);
  padding: 7px 12px;
  border-radius: var(--radius-main);
  transition: background-color .25s,
    border-color .25s;
  border: 1px solid var(--buttons-and-links-bg);
  min-height: 54px;
  position: relative;

  &--disabled {
    opacity: .6;
  }

  &--digits {
    text-align: center;
  }

  &--focused,
  &--has-value {
    border-color: var(--color-primary-white);
    background-color: var(--color-primary-white);
  }

  &--has-error {
    border-color: var(--color-error);
  }

  &__native {
    background-color: transparent;
    border: none;
    font-size: 18px;
    outline: none;
    margin-top: 17px;

    :-webkit-autofill {
      animation-name: onAutoFillStart;
    }
    :not(:-webkit-autofill) {
      animation-name: onAutoFillCancel;
    }

    &::placeholder {
      color: var(--color-text-secondary);
      font-family: inherit;
    }
  }

  &--digits &__native {
    letter-spacing: 16.2px;
    text-align: center;
  }

  &__label {
    font-size: 18px;
    line-height: 1.4;
    margin-left: 2px;
    letter-spacing: 0.24px;
    color: var(--textfield-text-gray);
    position: absolute;
    top: 50%;
    transition: transform .25s;
    transform: translateY(-50%);
    transform-origin: 0 0;
  }

  &--digits &__label {
    left: 0;
    right: 0;
    margin: 0;
    transform-origin: center 0;
  }

  &--active &__label {
    transform: translateY(-75%) scale(0.7);
  }
}
