.exercise-approach {
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    color: rgb(var(--accent));
    margin-top: 10px;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__actions-title {
    color: rgb(var(--secondary-text));
    margin-top: 10px;
    margin-bottom: 5px;
  }
}
